{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
	<title>{% block  title%}{% endblock  %}</title>
</head>
<style>
body {
  background-image: url({% static 'images/background.jpg' %});
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>
<body class="d-flex flex-column h-100">
  <header class="p-2 text-white" style="background-color:#004274;">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="{% url 'home' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          PBL6
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{% url 'home' %}" class="nav-link px-2 text-white">Home</a></li>
          <li><a href="{% if user.is_authenticated %}{% url 'history' %}{% else %}{% url 'login' %}{% endif %}" class="nav-link px-2 text-white">History</a></li>
          <li><a href="{% url 'blog' %}" class="nav-link px-2 text-white">Blog</a></li>
        </ul>


        <ul class="nav mb-2 justify-content-center mb-md-0">
          {% if user.is_authenticated %}
              <div class="dropdown">
                <button class="btn btn-primamry text-white dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Hello, {{user.username}}
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="{% url 'profile' user.id %}"><i class="bi bi-person-circle"></i> Show Profile</a></li>
                  <li><a class="dropdown-item" href="{% url 'edit_profile' %}"><i class="bi bi-gear-fill"></i>Settings</a></li>
                  <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="bi bi-box-arrow-in-right"></i> Logout</a></li>
                </ul>
              </div>
			      {% else %}
			        <li><a href="{% url 'register' %}" class="nav-link px-2 text-white"><i class="bi bi-person-fill-add"></i> Register</a></li>
			        <li><a href="{% url 'login' %}" class="nav-link px-2 text-white"><i class="bi bi-box-arrow-in-left"></i>Login</a></li>
			      {% endif %}
        </ul>
      </div>
    </div>
  </header>
{% block content%}
{% endblock  %}
<div class="mt-auto text-white">
  <footer class="pt-5"  style="background-color:#004274;">
    <div class="container">
    <div class="row">
      <div class="col-6 col-md-3 mb-3">
        <h5>Author</h5>
        <div class="card mb-3 text-center text-black">
          <div class="row g-0">
            <div class="col-sm-4">
              <img src="{% static 'images/cat.jpg' %}" class="img-fluid rounded-start w-100" alt="">
            </div>
            <div class="col-sm-8">
              <div class="card-body py-0">
                <h5 class="card-title mt-2">Phan Quang Linh</h5>
                <p class="card-text">学生, 専門:IT<br>
                <small class="text-muted">DUT</small>
                </p>
              </div>
            </div>
          </div>
            <div class="card-footer d-flex justify-content-around">
              <a href="#"><i class="bi bi-dribbble text-black"></i></a>
              <a href="#"><i class="bi bi-twitter text-black"></i></a>
              <a href="#"><i class="bi bi-linkedin text-black"></i></a>
              <a href="#"><i class="bi bi-facebook text-black"></i></a>
            </div>
        </div>
      </div>

      <div class="col-6 col-md-3 mb-3">
        <h5>Author</h5>
        <div class="card mb-3 text-center text-black">
          <div class="row g-0">
            <div class="col-sm-4">
              <img src="{% static 'images/huy1.jpg' %}" class="img-fluid rounded-start w-100" alt="">
            </div>
            <div class="col-sm-8">
              <div class="card-body py-0">
                <h5 class="card-title mt-2">Huynh Le Huy</h5>
                <p class="card-text">学生, 専門:IT<br>
                <small class="text-muted">DUT</small>
                </p>
              </div>
            </div>
          </div>
            <div class="card-footer d-flex justify-content-around">
              <a href="#"><i class="bi bi-dribbble text-black"></i></a>
              <a href="#"><i class="bi bi-twitter text-black"></i></a>
              <a href="#"><i class="bi bi-linkedin text-black"></i></a>
              <a href="#"><i class="bi bi-facebook text-black"></i></a>
            </div>
        </div>
      </div>

      <div class="col-md-5 offset-md-1 mb-3">
        <form>
          <h5>Subscribe to our newsletter</h5>
          <p>Monthly digest of what's new and exciting from us.</p>
          <div class="d-flex flex-column flex-sm-row gap-2 mb-1">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                      <button class="btn btn-primary" type="button">Subscribe</button>

          </div>
        </form>
      </div>
    </div>
    </div>
    <div class="d-flex flex-column flex-sm-row justify-content-between  pt-4 border-top" style="background-color:#00335A;">
      <div class="container">
      <p>© 2022 PBL6. All rights reserved.</p>
      </div>
    </div>
  </footer>
</div>
<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js" integrity="sha512-i9cEfJwUwViEPFKdC1enz4ZRGBj8YQo6QByFTF92YXHi7waCqyexvRD75S5NVTsSiTv7rKWqG9Y5eFxmRsOn0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>
