{% extends "base.html" %}

{% block  title%}{{cats}}{% endblock  %}

{% block content%}
<div class="container my-5">
<div class="row">
<div class="list-group col-4">
    <a class="list-group-item" href="{% url 'blog'  %}">All</a>
{% for item in cat_menu %}
    <a class="list-group-item" href="{% url 'category' item %}">{{item}}</a>
{% endfor %}
</div>
<div class="card p-3 list-group col-8">
<h1>{{cats}}</h1>
<br/><br/>
{% for post in category_posts %}
    <li class="list-group-item">
        <a href="{% url 'post' post.pk %}" class="text-decoration-none h3 text-black"> {{post.title}}</a>
        <br/>
        {{post.author}} - {{post.date}} -
        {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <a href="{% url 'update_post' post.pk %}"><i class="bi bi-pencil-fill"></i></a> 
            <a href="{% url 'delete_post' post.pk %}"><i class="bi bi-trash-fill"></i></a>  
        {% endif %}
        {% endif %}
       
        </br>
    {{post.body|slice:":200"|safe}}</li>
{% endfor %}

<br>
{% if page_obj.has_previous %}
    <a href="{{request.path}}?page={{page_obj.previous_page_number}}">Back</a>
{% endif %}
{% if page_obj.has_next %}
    <a href="{{request.path}}?page={{page_obj.next_page_number}}">Next</a>
{% endif %}
</div>
</div>
</div>
{% endblock  %}