{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block  title%}Home{% endblock  %}
{% block content%}
<style type="text/css">

.selected-image {
    height: 400px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px 5px;
    background-color: #ffff;
}
.result-text-area {
    overflow-y: scroll;
    border: 1px solid gray;
    border-radius: 5px;
    width: 100%;
    height: 400px;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    background-color: #ffff;
}
</style>
<div class="container my-5">
    <form method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form|crispy }}
        <div class="row mb-3">
            <div class="col-lg-6">
                <div class="selected-image">
                    {% if image %}
                        <img src="{{ image }}" alt="img1"  class="w-100 h-auto mh-100">
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="result-text-area">
                    {{text|safe}}
                </div>
                <input  class="btn btn-lg btn-primary" type="submit" value="GetText">

            </div>
        </div>

    </form>
</div>
{% endblock  %}

