{% extends "base.html" %}
{% load static %}

{% block  title%}{{post.title}}{% endblock  %}

{% block content%}
<div class="container my-5">
<div class="row">
<div class="list-group col-4">
    <a class="list-group-item" href="{% url 'blog'  %}">All</a>
{% for item in cat_menu %}
    <a class="list-group-item" href="{% url 'category' item %}">{{item}}</a>
{% endfor %}
</div>
<div class="col-8">
  <div class="card">
  <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">
        <img src="{% static 'images/default-avatar.png' %}" class="img-fluid rounded-start" width=50 alt="">
        <a href="{% url 'profile' post.author.id %}" class="text-decoration-none text-muted">{{post.author.first_name}}{{post.author.last_name}}</a> - {{post.date}}
          {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
              <a href="{% url 'update_post' post.pk %}"><i class="bi bi-pencil-fill"></i></a>
              <a href="{% url 'delete_post' post.pk %}"><i class="bi bi-trash-fill"></i></a>
            {% endif %}
          {% endif %}
      </h6>
    <p class="card-text">{{post.body|safe}}</p>
  </div>
  <div class="card-footer bg-transparent text-secondary">
    <form action="{% url 'like_post' post.pk %}" method="POST" style="display: inline; margin-right:20px">
      {% csrf_token %}
      {% if user.is_authenticated %}
        <button type="submit" name="post_id" value="{{post.id}}" class="btn btn-link {% if liked %}text-danger {% else %} text-secondary{% endif %} btn-sm"><i class="bi bi-heart-fill"></i></button>
      {% else %}
        <i class="bi bi-heart-fill"></i>
      {% endif %}
      <strong>  Favorite {{total_likes}} </strong>
    </form>
    <strong>
    <i class="bi bi-chat-fill"></i>
    Comment {% if comments %}{{ object.number_of_comments }}{%else%}0{% endif %}
    </strong>
  </div>
</div>
<br>
<div id="comments_section" class="card p-3">
  {% if comments %}
  <h5>
  <strong class="text-secondary">{{ object.number_of_comments }} Comment{{ object.number_of_comments|pluralize }}</strong>
  </h5>
  <ul class="list-group">
    {% for comment in comments %}
    <li class="list-group-item">
     <div>
        <span>
          <a href="{% url 'profile' comment.author.id %}" class="text-decoration-none text-muted">
            <strong class="text-info">{{post.author.first_name}}{{post.author.last_name}}</strong>
          </a>
          <small class="text-muted">{{ comment.date }}</small>
        </span>
        <p>
          {{ comment.body|safe }}
        </p>
      </div>
    </li>
    {% endfor %}
  </ul>
  {% else %}
    <strong class="text-secondary">No comments yet...</strong>
  {% endif %}
  <br/>
  {% if user.is_authenticated %}
  <div class="form-group">
  <form action="{% url 'post' post.id %}" method="POST" >
    {% csrf_token %}
      <h5>Leave your comment!</h5>
      <label>Comment: </label>
      {{ comment_form.body }}
      <br/>
      <button class="btn btn-primary" type="submit">Add comment <i class="fas fa-comments"></i></button>
  </form>
  </div>
  {% else %}
  <a class="btn btn-primary" href="{% url 'login' %}?next={{request.path}}">Log in to add a comment!</a><br>
  {% endif %}
</div>
</div>
</div>
</div>
{% endblock  %}