{% extends "base.html" %}

{% block  title%}Update Post{% endblock  %}

{% block content%}
{% if user.is_authenticated %}
{% if user.id == post.author.id %}
<h1>Update Post</h1>
<br/><br/>
<div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button class="btn btn-primary">Update</button>
        <a href="{{request.META.HTTP_REFERER|escape}}" class="btn btn-secondary">Cancel</a>
</div>
</div>
{% endif %}
{% endif %}
{% endblock  %}