{% extends "base.html" %}
{% load static %}


{% block  title%}User Profile{% endblock  %}
{% block content%}
<div class="container my-5">
  <div class="card p-3 border-dark">
    <h1>User Profile</h1>
     <div class="text-center">
      <img src="{% static 'images/default-avatar.png' %}" class="img-fluid rounded-start" width=120 alt=""/>
      <h5 class="card-title">{{page_user.first_name}}{{page_user.last_name}}</h5>        
    </div>
    {% if user.is_authenticated %}
    {% if user.id == page_user.id %}
        <a href="{% url 'add_post' %}" class="btn btn-success">+ Add Post</a>  
    {% endif %}
    {% endif %}
    <div class="list-group">
      {% for post in page_user.posts.all %}
      <li class="list-group-item card my-2">
        <a href="{% url 'post' post.pk %}" class="text-decoration-none h3 text-black"> {{post.title}}</a>
        <br/>
        {{post.author}} - {{post.date}} 
        {% if user.is_authenticated %}
        {% if user.id == page_user.id %} - 
          <a href="{% url 'update_post' post.pk %}"><i class="bi bi-pencil-fill"></i></a> 
          <a href="{% url 'delete_post' post.pk %}"><i class="bi bi-trash-fill"></i></a>  
        {% endif %}
        {% endif %}
        </br>
        {{post.body|slice:":200"|safe}}
      </li>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock  %}
